-r requirements-lint.txt
-r requirements-test.txt

# type checking
mypy==1.9.0
types-PyYAML
types-requests
types-setuptools

# testing
pytest
tensorizer>=2.9.0
pytest-forked
pytest-asyncio
pytest-rerunfailures
pytest-shard

# testing utils
awscli
einops # required for MPT
httpx
peft
requests
ray
sentence-transformers # required for embedding

# Benchmarking
aiohttp

# quantization
bitsandbytes==0.42.0
# Avoid adding requirements directly to this file.
# Instead, modify the two files referenced above.
